# Ignore environment variable files
.env

# Ignore instruction files
.git_instruction

# Ignore non-working files
parallelization_google_adk.py

# Ignore virtual environments
venv/

# Python bytecode
__pycache__/
*.py[cod]

# OS-specific files
.DS_Store